@page "/"

<PageTitle>Index</PageTitle>

<p>2 ATIVIDADE</p>
<h5>Para as tarefas que explorarão a comunicação com APIs Web, utilizando a API do GitHub,
    mais especificamente nas informações de usuários e repositórios (documentação
    disponível em https://developer.github.com/v3/, https://developer.github.com/v3/users/
    e https://developer.github.com/v3/repos/) para avaliação dos conhecimentos do
    candidato no framework escolhido.
</h5>

<h5>
    <strong>2.1 - </strong> Utilizando a API informada acima, desenvolva uma tela que exibirá uma lista de
    usuários do GitHub, contendo seu Id e Login.
</h5>

<h5>
    <strong>2.2 - </strong> Utilizando a API informada acima, desenvolva uma tela que exibirá uma lista de
    A partir da listagem feita no exercício anterior, elabore uma tela que mostre os
    detalhes de um usuário específico, contendo seu Id, Login, URL do perfil e Data de
    cadastro.
</h5>

<h5>
    <strong>2.3 - </strong> Utilizando a API informada acima, desenvolva uma tela que exibirá uma lista de
    Juntamente com a tela de detalhamentos de usuário, exiba em uma tabela os
    repositórios públicos do usuário, contendo Id, Nome e URL do repositório.
</h5>
